.streams {
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-around;


  .activeStreamCard {

    border: 3px solid #555;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    width: 25vw;
    height:25vw;
    margin:3em;
    padding:1.5em;
    &:hover {
      opacity: 0.8;
      transform: scale(1.05);
      box-shadow: 5px 5px 5px grey;
      transition: transform .5s;
    }

    .banner {
      display:flex;
      justify-content: space-between;

      div{
        margin: 1em; 

        h1 {
          font-size: 2.2em;
          margin: 0;
          color: #444444;
        }
        h2 {
          font-size: 1.5em;
          margin: 0;
          color: #444444;
        }
      }
      img {

      }
      .imagePlaceholder {
        
        width: 4em;
        height: 4em;
        margin: 1em; 

      }
    }
    .description-container {
      margin: 1em; 
      
      p {
        font-size: 1.2em;
      
      }
    }
  }
}





      // <div className="activeStreamCard" key={(Math.random()*10).toString().slice(2,6)}>
      //   <div className="banner">
      //     <div>
      //       <h1>{ title }</h1>
      //       <h2>{ presentor }</h2>
      //     </div>
      //     <img src="#imagePath" />
      //   </div>
      //   <div className="description-container">
      //     <p>{ description }</p>
      //   </div>
      // </div>