.chat-main {
  overflow: hidden;
  display: flex;
  justify-content: start;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Courier New';
  font-size: 16px;
}
.chat-container {
  min-height: 100vh;
  max-width: 40vw;
  display: flex;
  flex-direction: column-reverse;

  .chatbar {
    flex-grow: 1;
    background-color: black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    justify-content: center;

    .chatbar-message,
    .chatbar-username {
      opacity: 0.8;
      border: 1px solid black;
      border-radius: 5px;
      display: flex;
      height: 2.5rem;
      line-height: 2.5rem;
      margin: 5px;
      padding: 0 0.5rem;
    }
  }

  .messages-container {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    position: relative;
    
    .message-system {
      display: flex;
      flex-direction: column;
      .message-list-container {
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        scroll-behavior: smooth;
        margin: 1rem 1rem 10rem 1rem;
        
        .unreverse {
          flex-direction: column;
          .messages {
            display: block;
  
            padding: 0.5rem;
            margin: 0.5rem 0rem;
          }
          
          .message-system {
            width: 100%;
            padding: 5px 20px;
          }
          
          .messages-content,
          .message-username {
            overflow: hidden;
            margin: 5px;
            padding: 0 10px;
          }
          
          .messages-content {
            flex: 8;
          }
          
          .message-username {
            flex: 2;
            font-weight: 700;
          }
          
          .notifications {
            font-weight: 600;
            margin: 1rem 1rem 2rem 3rem;
          }
        }
      }
    }
  }
  
}




