.file-container {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-width: 50vw;

  .ReactCodeMirror, .CodeMirror {
    height: 95vh;
  }

  .theme-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    
    .select-text {
      color: #EEE;
      padding: 1rem;
      margin: 0rem 1rem;
    }
    .theme-select {
      padding: 1rem;
      margin: 1rem;
    }
  }
}