.Filetree-display {
  background-color:#282a36 !important;

  .ant-tree-switcher {
    background-color:#282a36 !important;

    .ant-tree-switcher-line-icon {
      color: #fff;
    }
  }
  .ant-tree-title {
    color: #fff;
  }
}