header {
    height:75px;
    background-color: #794545;  
    .headerLogo {
        height: 50px;
        margin: 1em;
    }
    .headerbtn {    
        background-color: #bbbbbb;
        color:#4d4d4d;
        float: right;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 10px;
        font-size: 12px;
        margin: 15px;
        margin-top: 20px;
        width: 10em;
        border-radius: 4px;
    }
    .headerbtn:hover {
        background-color: #777;
    }
  }
