.index-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .tablink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #555;
    color: rgb(206, 206, 206);
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 5px 5px;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px black;
    width: 33.33%;

    &:focus {
      background-color: #777;
    }
    
    &:hover {
      background-color: #666;
    }
  }
}