.stream-parent {
  overflow: hidden;
  background-color: #000;
  .component-container1 {
    display: grid;
    
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
      "Filetree Video Chat";

    .Filetree-display {
      position: relative;
      max-height: 52vh;
      overflow-y: auto; 
      height: 100%;
      width: 100%; 
      grid-area: Filetree;
    }

    .Video-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Video;
    }
  
    .Chat-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Chat;
    }
  }

  .component-container2 {
    display: grid;
    position: relative;
    height: 47vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "Code Terminal";

    .Code-display {
      grid-column: span 6;
      position: relative;
      height: 100%;
      grid-area: Code;
    }

    .Terminal-display {
      grid-column: span 6;
      position: relative;
      display: flex;
      min-width: 100vw;
      grid-area: Terminal;
    }
  }
}