.stream-parent {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000;

  .component-container1 {
    display: grid;
    max-height: 52vh;
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "Filetree Video Chat";

    .Filetree-display {
      position: relative;
      max-height: 52vh;
      overflow-y: auto; 
      grid-area: Filetree;
      border: 1px groove rgb(70, 70, 102);
      border-radius: 1px;
    }

    .Video-display {
      position: relative;
      max-height: 52vh;
      grid-area: Video;
      z-index: 99;
      border: 1px groove rgb(70, 70, 102);
      border-radius: 1px;
    }
  
    .Chat-display {
      position: relative;
      max-height: 52vh;
      grid-area: Chat;
      border: 1px groove rgb(70, 70, 102);
      border-radius: 1px;
    }
  }

  .component-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "Code Terminal";

    .Code-display {
      grid-column: span 6;
      position: relative;
      grid-area: Code;
      border: 1px groove rgb(70, 70, 102);
      border-radius: 1px;
      z-index: 88;
    }

    .Terminal-display {
      grid-column: span 6;
      position: relative;
      display: flex;
      grid-area: Terminal;
      border: 1px groove rgb(70, 70, 102);
      border-radius: 1px;
      z-index: 88;
    }
  }
}