.dashboard {
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;

  .streams {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    margin: 2rem;
    padding: 1rem;

=======
    align-items: center;     

    .imageHeader{
      
      width:50px;
      height:50px;
      margin: .5em;
      background-color:black;
    }
    .stream-controls{
      display:flex;
      justify-content: center;
      border: 2px solid black;
      padding: 1em 2em;
      width: 60%;
    }
    
>>>>>>> 60e05c92c75c8d01eac3edfb9c36940b22803449
    .container-header {
      color: #FFF;
    }

    .scheduledStreamCard {
      display: flex;
      flex-direction: row;
      color: #000;
      justify-content: space-between;
      border: 1px solid rgb(0, 0, 0);
      background-color: rgb(202, 202, 202);
      border-radius: 10px;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.6);
      min-width: 75vw;
      margin: 2rem 2rem;
      padding: 1rem;

      .info-container {
        display: flex;
        flex-direction: column;
        
        .date-time{
          display:flex;
          flex-direction: column;

          #date, #time{
            font-size: 0.7rem;
            display: flex;
            margin: 0;
          }
        }
      }

      p{
        font-size: 1.5em;
        height:20%;
      }
      
      .controls{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;

        #start-btn {
          background-color: rgb(163, 163, 163);
          padding:3px;
          font-size:0.7rem;
          border-radius: 5px;
          margin: 0.5rem;

          &:hover {
            background: rgba(0,0,0,0);
            color: #b8b8b8;
            box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
          }
        }

        #edit-btn {
          background-color: rgb(163, 163, 163);
          padding:3px;
          font-size:0.7rem;
          border-radius: 5px;
          margin: 0.5rem;

          &:hover {
            background: rgba(0,0,0,0);
            color: #b8b8b8;
            box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
          }
        }

        #delete-btn {
          background-color: rgb(107, 107, 107);
          padding:3px;
          font-size:0.7rem;
          border-radius: 5px;
          margin: 0.5rem;

          &:hover {
            background: rgba(0,0,0,0);
            color: #b8b8b8;
            box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}