.dashboard {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  width: 100%;

  .header {
    height:35%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     

    .image-placeholder{
      
      width:50px;
      height:50px;
      margin: .5em;
      background-color:black;
    }
    .stream-controls{
      display:flex;
      justify-content: center;
      border: 2px solid black;
      padding: 1em 2em;
      width: 60%;

      #instant {
        margin: .5em;
      }

      #scheduleNew {
        margin: .5em;
      }
    }
  }
  .streams {
    height: 65%;

    .scheduledStreamCard {
      width: 90%;
      height: 15%;
      display:flex;
      justify-content: space-between;
      border:2px solid black;
      margin: 1em 0 ; 
      align-items: center;

      .startPlaceholder {
        width:50px;
        height: 50px;
        background-color: aquamarine;
      }
      p{
        font-size: 1.5em;
        height:20%;
      }
      
      div {
        display:inline-flex;
        
        .date-time{
          display:flex;
          flex-direction: column;
          

          #date{
            font-size: 1em;
            display:block;
            margin: 0;
          }
          #time {
            font-size: 1em;
            display:block;
            margin: 0;
          }
        }
      }
      .controls{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;

        #edit-btn {
          background-color: skyblue;
          padding:3px;
          font-size:1em;

          &:hover {
            background: rgba(0,0,0,0);
            color: #3a7999;
            box-shadow: inset 0 0 0 3px #3a7999;
          }
        }
        #delete-btn {
          background-color: darkred;
          padding:3px;
          font-size:1em;

          &:hover {
            background: rgba(0,0,0,0);
            color: #3a7999;
            box-shadow: inset 0 0 0 3px #3a7999;
          }
        }
      }
    }
  }
}