.nav-header {
  display: flex;
  min-width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 5rem;
  background-color: #000000;

  img.nav-logo {
    max-height: 3rem;
    margin: 0.5em 1rem;
  }

  .nav-links {
    display: flex;
    flex-direction: row;

  }
}