.new-stream {
  color: #FFF;

  .header {
    display:flex;
    justify-content: center;
    margin-top:2em;

    #dashboard-btn{
      margin: 1em;
      float:left;
    }
    
  }
  .inputs-container{
    display:flex; 
    justify-content: center;
    flex-direction: column;
    
    h1{
      justify-content: center;
      color: #FFF;
    }
    h3{
      justify-content: space-around;
      color: #FFF;
    }
    .forms-container{

      form{
        .bottom-container{
          display:inline-flex;
          justify-content: space-between;
        }
      }
    }
  }
} 