  // new-stream
  .start-scheduled {

    .main-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #FFF;

      div {
        h1{
          font-size: 2em;
          color: #FFF;
        }
        h3{
          font-size: 1.6em;
          color: #FFF;
        }
        p {
          font-size: 1em;
          color: #FFF;
        }
      }
    }
  }