@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import 'partials/electronDashBoard';
@import 'partials/liveStreamNow';
@import 'partials/scheduleNewStream';
@import 'partials/startScheduled';

// testing purposes delete me once electron can host its own content
.App {
  width: 800px;
  height: 600px;
  background-color: lightgrey;
} 