@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
.chat-main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: start;
  background-color: black;
  color: white;
  font-family: 'Courier New';
  font-size: 12px; }

.chat-container {
  display: flex;
  flex-direction: column-reverse; }
  .chat-container .chatbar {
    flex-grow: 1;
    background-color: black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    justify-content: center; }
    .chat-container .chatbar .chatbar-message,
    .chat-container .chatbar .chatbar-username {
      opacity: 0.8;
      border: 1px solid black;
      border-radius: 5px;
      display: flex;
      height: 1.5rem;
      line-height: 2.5rem;
      margin: 1px;
      padding: 0 0.5rem; }
  .chat-container .messages-container {
    min-height: 50vh;
    max-height: 50vh;
    display: flex;
    position: relative; }
    .chat-container .messages-container .message-system {
      display: flex;
      flex-direction: column; }
      .chat-container .messages-container .message-system .message-list-container {
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        scroll-behavior: smooth;
        margin: 0.1rem 0.1rem 0.1rem 0.1rem; }
        .chat-container .messages-container .message-system .message-list-container .unreverse {
          flex-direction: column; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .messages {
            display: block;
            padding: 0.2rem;
            margin: 0rem 0rem; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .message-system {
            width: 100%;
            padding: 5px 20px; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .messages-content,
          .chat-container .messages-container .message-system .message-list-container .unreverse .message-username {
            overflow: hidden;
            margin: 5px;
            padding: 0 10px; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .messages-content {
            flex: 8; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .message-username {
            flex: 2;
            font-weight: 700; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .notifications {
            font-weight: 600;
            margin: 1rem 1rem 2rem 3rem; }

.file-container {
  display: flex;
  flex-direction: column; }
  .file-container .theme-select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6); }
    .file-container .theme-select-container .select-text {
      color: #EEE;
      padding: 0rem;
      margin: 0rem; }
    .file-container .theme-select-container .theme-select {
      padding: 0.5rem;
      margin: 0.5rem; }

.video-main .iframe {
  position: relative;
  width: 100%;
  height: 52vh; }

main .currentStream {
  border: 2px solid black;
  background-color: aquamarine;
  width: 75%;
  margin: 2em 4em; }
  main .currentStream .currentStreamBanner {
    display: flex;
    justify-content: space-between; }
    main .currentStream .currentStreamBanner h3 {
      font-size: 2em;
      margin-left: 1em; }
    main .currentStream .currentStreamBanner h4 {
      font-size: 1.5em; }
    main .currentStream .currentStreamBanner h5 {
      font-size: 1.2em;
      margin-right: 10em; }
  main .currentStream p {
    font-size: 1em;
    margin: 2em; }

.streams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .streams .activeStreamCard {
    border: 2px solid black;
    background-color: salmon;
    width: 25vw;
    height: 25vw;
    margin: 3em; }
    .streams .activeStreamCard:hover {
      opacity: 0.5; }
    .streams .activeStreamCard .banner {
      display: flex;
      justify-content: space-between; }
      .streams .activeStreamCard .banner div {
        margin: 1em; }
        .streams .activeStreamCard .banner div h1 {
          font-size: 2.2em;
          margin: 0; }
        .streams .activeStreamCard .banner div h2 {
          font-size: 1.5em;
          margin: 0; }
      .streams .activeStreamCard .banner .imagePlaceholder {
        width: 4em;
        height: 4em;
        margin: 1em;
        background-color: black; }
    .streams .activeStreamCard .description-container {
      margin: 1em; }
      .streams .activeStreamCard .description-container p {
        font-size: 1.2em; }

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap; }

.Filetree-display {
  background-color: #282a36 !important; }
  .Filetree-display .ant-tree-switcher {
    background-color: #282a36 !important; }
    .Filetree-display .ant-tree-switcher .ant-tree-switcher-line-icon {
      color: #fff; }
  .Filetree-display .ant-tree-title {
    color: #fff; }

html {
  box-sizing: border-box;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.App {
  flex-direction: column;
  height: 80vh;
  width: 100vw; }
  .App .component-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "Filetree Video Chat"; }
    .App .component-container1 .Filetree-display {
      position: relative;
      height: 100%;
      width: 100%;
      grid-area: Filetree;
      background-color: grey; }
    .App .component-container1 .Video-display {
      position: relative;
      height: 100%;
      width: 100%;
      grid-area: Video; }
    .App .component-container1 .Chat-display {
      position: relative;
      height: 100%;
      width: 100%;
      grid-area: Chat; }
  .App .component-container2 {
    display: grid;
    height: 47vh;
    grid-template-columns: 50% 50%;
    grid-template-areas: "Code Terminal"; }
    .App .component-container2 .Code-display {
      position: relative;
      height: 100%;
      width: 100%;
      grid-area: Code; }
    .App .component-container2 .Terminal-display {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      grid-area: Terminal;
      background-color: grey; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.electron {
  width: 800px;
  height: 600px;
  background-color: lightgrey; }
  .electron .scheduledStreamCard {
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin: 1em 0;
    align-items: center; }
    .electron .scheduledStreamCard p {
      font-size: 1.5em; }
    .electron .scheduledStreamCard div {
      display: inline-flex; }
      .electron .scheduledStreamCard div .date-time {
        display: flex;
        flex-direction: column; }
        .electron .scheduledStreamCard div .date-time #date {
          font-size: 1em;
          display: block;
          margin: 0; }
        .electron .scheduledStreamCard div .date-time #time {
          font-size: 1em;
          display: block;
          margin: 0; }
    .electron .scheduledStreamCard .controls {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .electron .scheduledStreamCard .controls #edit-btn {
        background-color: skyblue;
        padding: 3px;
        font-size: 1em; }
        .electron .scheduledStreamCard .controls #edit-btn:hover {
          background: rgba(0, 0, 0, 0);
          color: #3a7999;
          box-shadow: inset 0 0 0 3px #3a7999; }
      .electron .scheduledStreamCard .controls #delete-btn {
        background-color: darkred;
        padding: 3px;
        font-size: 1em; }
        .electron .scheduledStreamCard .controls #delete-btn:hover {
          background: rgba(0, 0, 0, 0);
          color: #3a7999;
          box-shadow: inset 0 0 0 3px #3a7999; }

/*# sourceMappingURL=App.css.map */
