@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");
.chat-main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: start;
  background-color: black;
  color: white;
  font-family: 'Courier New';
  font-size: 12px; }

.chat-container {
  display: flex;
  flex-direction: column-reverse; }
  .chat-container .chatbar {
    flex-grow: 1;
    background-color: black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    justify-content: center; }
    .chat-container .chatbar .chatbar-message,
    .chat-container .chatbar .chatbar-username {
      opacity: 0.8;
      border: 1px solid black;
      border-radius: 5px;
      display: flex;
      height: 1.5rem;
      line-height: 2.5rem;
      margin: 1px;
      padding: 0 0.5rem; }
  .chat-container .messages-container {
    min-height: 50vh;
    max-height: 50vh;
    display: flex;
    position: relative; }
    .chat-container .messages-container .message-system {
      display: flex;
      flex-direction: column; }
      .chat-container .messages-container .message-system .message-list-container {
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        scroll-behavior: smooth;
        margin: 0.1rem 0.1rem 0.1rem 0.1rem; }
        .chat-container .messages-container .message-system .message-list-container .unreverse {
          flex-direction: column; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .messages {
            display: block;
            padding: 0.2rem;
            margin: 0rem 0rem; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .message-system {
            width: 100%;
            padding: 5px 20px; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .messages-content,
          .chat-container .messages-container .message-system .message-list-container .unreverse .message-username {
            overflow: hidden;
            margin: 5px;
            padding: 0 10px; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .messages-content {
            flex: 8; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .message-username {
            flex: 2;
            font-weight: 700; }
          .chat-container .messages-container .message-system .message-list-container .unreverse .notifications {
            font-weight: 600;
            margin: 1rem 1rem 2rem 3rem; }

.file-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .file-container .react-codemirror2 {
    position: relative;
    min-height: 100%; }
    .file-container .react-codemirror2 .CodeMirror {
      min-height: 42vh; }
  .file-container .theme-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.6); }
    .file-container .theme-select-container .select-text {
      color: #EEE;
      padding: 0rem;
      margin: 0rem; }
    .file-container .theme-select-container .theme-select {
      padding: 0.5rem;
      margin: 0.5rem; }

.video-main .iframe {
  position: relative;
  width: 100%;
  height: 52vh; }

.stream-container {
  display: flex;
  flex-direction: column;
  align-content: center; }
  .stream-container .index-header {
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #FFF; }

.streams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .streams .link-container {
    display: flex; }
    .streams .link-container .stream-card {
      display: flex;
      border: 1px solid black;
      background-color: #a7a7a7;
      border-radius: 10px;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.6);
      margin: 2rem 0rem;
      padding: 1rem; }
      .streams .link-container .stream-card:hover {
        opacity: 0.8; }
      .streams .link-container .stream-card.scheduled {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 75vw;
        margin: 2rem 4rem;
        padding: 1rem; }
      .streams .link-container .stream-card.active-archived {
        display: flex;
        flex-direction: column;
        max-width: 25vw;
        max-height: 25vw;
        padding: 1.5rem; }
      .streams .link-container .stream-card .stream-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem; }
        .streams .link-container .stream-card .stream-banner .title-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #1b1b1b;
          padding: 0rem 0.5em;
          margin-left: 1rem; }
          .streams .link-container .stream-card .stream-banner .title-container .title {
            display: flex;
            flex-direction: column; }
            .streams .link-container .stream-card .stream-banner .title-container .title h3 {
              margin-bottom: 0.5rem; }
          .streams .link-container .stream-card .stream-banner .title-container p.date-time {
            display: flex;
            flex-direction: row;
            font-size: 0.9rem;
            font-weight: 600; }
        .streams .link-container .stream-card .stream-banner .scheduled-title-container {
          display: flex;
          flex-direction: column;
          max-width: 5rem;
          padding: 0.5rem;
          margin-left: 0.5rem; }
          .streams .link-container .stream-card .stream-banner .scheduled-title-container .title {
            display: flex;
            flex-direction: column; }
            .streams .link-container .stream-card .stream-banner .scheduled-title-container .title h3 {
              margin-bottom: 0.5rem; }
          .streams .link-container .stream-card .stream-banner .scheduled-title-container p.date-time {
            display: flex;
            flex-direction: column;
            font-size: 0.9rem;
            font-weight: 600; }
      .streams .link-container .stream-card .card-img {
        max-width: 2.5rem;
        max-height: 2.5rem;
        margin: 0.5rem; }
      .streams .link-container .stream-card .card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; }
        .streams .link-container .stream-card .card-content .scheduled-description {
          display: flex;
          flex-direction: row;
          max-width: 50vw;
          margin: 1rem;
          padding: 1rem 2rem; }
      .streams .link-container .stream-card .description {
        display: flex;
        flex-direction: row;
        margin: 0.5rem;
        padding: 1rem; }
  .streams a {
    color: inherit;
    text-decoration: none; }
  .streams div h1 {
    font-size: 1.8rem;
    margin: 0rem; }
  .streams div h2 {
    font-size: 1.6rem;
    margin: 0rem; }
  .streams div h3 {
    font-size: 1.3rem;
    margin: 0rem; }
  .streams div h4 {
    font-size: 1.1rem;
    margin: 0rem; }
  .streams div h5 {
    font-size: 1rem;
    margin: 0rem; }

.Terminal-display {
  position: relative;
  overflow: scroll; }
  .Terminal-display .wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap; }
    .Terminal-display .wrapper .terminal-main div.xterm-screen {
      display: flex;
      min-width: 50vw;
      min-height: 48vh; }
    .Terminal-display .wrapper .terminal-main canvas[class^="xterm-"] {
      display: flex;
      min-width: 50vw !important;
      min-height: 48vh; }
    .Terminal-display .wrapper .terminal-main canvas.xterm-text-layer, .Terminal-display .wrapper .terminal-main canvas.xterm-cursor-layer, .Terminal-display .wrapper .terminal-main .xterm-screen {
      bottom: 0;
      padding: 0.5rem 3rem 1rem 2rem; }

.Filetree-display {
  background-color: #282a36 !important; }
  .Filetree-display .ant-tree-switcher {
    background-color: #282a36 !important; }
    .Filetree-display .ant-tree-switcher .ant-tree-switcher-line-icon {
      color: #fff; }
  .Filetree-display .ant-tree-title {
    color: #fff; }

.pageGrid .index-view {
  background-color: #777;
  width: 100vw; }
.pageGrid .streams {
  width: 100vw; }

.index-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .index-tabs .tablink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #555;
    color: #cecece;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 5px 5px;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px black;
    width: 33.33%; }
    .index-tabs .tablink:focus {
      background-color: #777; }
    .index-tabs .tablink:hover {
      background-color: #666; }

.stream-parent {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000; }
  .stream-parent .component-container1 {
    display: grid;
    max-height: 52vh;
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "Filetree Video Chat"; }
    .stream-parent .component-container1 .Filetree-display {
      position: relative;
      max-height: 52vh;
      overflow-y: auto;
      grid-area: Filetree;
      border: 1px groove #464666;
      border-radius: 1px; }
    .stream-parent .component-container1 .Video-display {
      position: relative;
      max-height: 52vh;
      grid-area: Video;
      z-index: 99;
      border: 1px groove #464666;
      border-radius: 1px; }
    .stream-parent .component-container1 .Chat-display {
      position: relative;
      max-height: 52vh;
      grid-area: Chat;
      border: 1px groove #464666;
      border-radius: 1px; }
  .stream-parent .component-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "Code Terminal";
    max-height: 47.8vh; }
    .stream-parent .component-container2 .Code-display {
      grid-column: span 6;
      position: relative;
      grid-area: Code;
      border: 1px groove #464666;
      border-radius: 1px;
      z-index: 88; }
    .stream-parent .component-container2 .Terminal-display {
      grid-column: span 6;
      position: relative;
      display: flex;
      grid-area: Terminal;
      border: 1px groove #464666;
      border-radius: 1px;
      z-index: 88; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 4rem;
  background-color: #000000; }
  .nav .navLogo {
    height: 70%;
    margin: 0.5em 1rem; }
  .nav .login-register {
    display: flex;
    flex-direction: row; }
    .nav .login-register .navBtn {
      background-color: #bbbbbb;
      color: #4d4d4d;
      text-decoration: none;
      display: flex;
      justify-content: center;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0.5rem;
      font-size: 0.75rem;
      margin: 1rem 2rem 1rem 0rem;
      width: 6rem;
      border-radius: 4px; }
      .nav .login-register .navBtn:hover {
        background-color: #777; }

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202133; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.App {
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  overflow-y: auto; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
