@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import 'partials/chat';
@import 'partials/fileViewer';
@import 'partials/video';
@import 'partials/_ScheduledStreamCard';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.App {
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  // background-color: black;

  .component-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
      "Filetree Video Chat";

    .Filetree-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Filetree;
      background-color: grey;

    }

    .Video-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Video;
    }
  
    .Chat-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Chat;
    }
  }

  .component-container2 {
    display: grid;
    height: 47vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "Code Terminal";

    .Code-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Code;
    }

    .Terminal-display {
      position: relative;
      height: 100%;
      width: 100%; 
      display: flex;
      grid-area: Terminal;
      background-color: grey;
    }
  }
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
