@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import 'partials/chat';
@import 'partials/fileViewer';
@import 'partials/video';
@import 'partials/scheduledStreamCard';
@import 'partials/activeStreamsCard';
@import 'partials/terminal';
@import 'partials/fileDirectory';

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.App {
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  // background-color: black;

  .component-container1 {
    display: grid;
    
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
      "Filetree Video Chat";

    .Filetree-display {
      position: relative;
      max-height: 52vh;
      overflow-y: auto; 
      height: 100%;
      width: 100%; 
      grid-area: Filetree;
      background-color: grey;

    }

    .Video-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Video;
    }
  
    .Chat-display {
      position: relative;
      height: 100%;
      width: 100%; 
      grid-area: Chat;
    }
  }

  .component-container2 {
    display: grid;
    position: relative;
    height: 47vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "Code Terminal";

    .Code-display {
      grid-column: span 6;
      position: relative;
      height: 100%;
      grid-area: Code;
    }

    .Terminal-display {
      grid-column: span 6;
      position: relative;
      display: flex;
      min-width: 100vw;
      grid-area: Terminal;
    }
  }
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// testing purposes delete me once electron can host its own content
.electron {
  width: 800px;
  height: 600px;
  background-color: lightgrey;

  // dashboard
  .dashboard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width: 100%;

    .header {
      height:35%;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;     

      .image-placeholder{
        
        width:50px;
        height:50px;
        margin: .5em;
        background-color:black;
      }
      .stream-controls{
        display:flex;
        justify-content: center;
        border: 2px solid black;
        padding: 1em 2em;
        width: 60%;

        #instant {
          margin: .5em;
        }

        #scheduleNew {
          margin: .5em;
        }
      }
    }
    .streams {
      height: 65%;

      .scheduledStreamCard {
        width: 90%;
        height: 15%;
        display:flex;
        justify-content: space-between;
        border:2px solid black;
        margin: 1em 0 ; 
        align-items: center;

        .startPlaceholder {
          width:50px;
          height: 50px;
          background-color: aquamarine;
        }
        p{
          font-size: 1.5em;
          height:20%;
        }
        div {
          display:inline-flex;
          
          .date-time{
            display:flex;
            flex-direction: column;
            

            #date{
              font-size: 1em;
              display:block;
              margin: 0;
            }
            #time {
              font-size: 1em;
              display:block;
              margin: 0;
            }
          }
        }
        .controls{
          display:flex;
          flex-direction: column;
          justify-content: space-evenly;

          #edit-btn {
            background-color: skyblue;
            padding:3px;
            font-size:1em;

            &:hover {
              background: rgba(0,0,0,0);
              color: #3a7999;
              box-shadow: inset 0 0 0 3px #3a7999;
            }
          }
          #delete-btn {
            background-color: darkred;
            padding:3px;
            font-size:1em;

            &:hover {
              background: rgba(0,0,0,0);
              color: #3a7999;
              box-shadow: inset 0 0 0 3px #3a7999;
            }
          }
        }
      }
    }
  }   // dashboard

  .new-stream {
    .header {
      display:flex;
      justify-content: center;
      margin-top:2em;

      #dashboard-btn{
        margin: 1em;
        float:left;
      }
      .logoPlaceholder{
        width:50px;
        height: 50px;
        background-color:black;
      }
    }
    .inputs-container{
      display:flex; 
      justify-content: center;
      flex-direction: column;
      
      h1{
        justify-content: center;
      }
      .forms-container{

        form{

          .title-input{
            
            h3{
              justify-content: space-around;
            }
            input{

            }
          }
          .description-input{
            h3{

            }
            textarea{

            }
          }
          .bottom-container{
            display:inline-flex;
            justify-content: space-between;

            .date-selection{

            }
            .image-select{

            }
            input{

            }
          }
        }
      }
    }
  } // new-stream
  .start-scheduled {
    height: 100%;

    .header {
      height:20%;

      display: flex;
      justify-content: center;

      .dashboard-btn {
        
      }
      .logoPlaceholder {
        width: 50px;
        height: 50px;
        background-color:black;
      }
    }
    .main-container{
      height: 60%;
      border: 2px solid black;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        h1{
          font-size: 2em;
        }
        p {
          font-size: 1em;
        }
      }
      .forms-container{
        
        
      }
    }
  }
} //electron

// delete me

// <main className="start-scheduled">
  // <header className="header">
  //   <Button id="dashboard-btn" type="primary">Dashboard</Button>
  //   <div className="logoPlaceholder">p</div>
  // </header>
  // <div className="main-container">
  //   <div>
  //    <h1>{this.state.title}</h1>
  //    <p>{this.state.description}</p>
  //  </div>

//   <div className="forms-container">
//     <form onSubmit={this.HandleSubmit}>

//         <div className="youtube-container">
//           <h3>YouTube URL:</h3>
//           <input type="text" placeholder="https://www.youtube.com/channel/PLACEHOLDER" onChange={this.YoutubeUrlInput} />
//         </div>
//         <input type="submit" value="Go live!" />
//     </form>
//   </div>
// </div>
// </main>