.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.dashboard .header {
  height: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dashboard .header .image-placeholder {
  width: 50px;
  height: 50px;
  margin: 0.5em;
  background-color: black;
}
.dashboard .header .stream-controls {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 1em 2em;
  width: 60%;
}
.dashboard .header .stream-controls #instant {
  margin: 0.5em;
}
.dashboard .header .stream-controls #scheduleNew {
  margin: 0.5em;
}
.dashboard .streams {
  height: 65%;
}
.dashboard .streams .scheduledStreamCard {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 1em 0;
  align-items: center;
}
.dashboard .streams .scheduledStreamCard .startPlaceholder {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
}
.dashboard .streams .scheduledStreamCard p {
  font-size: 1.5em;
  height: 20%;
}
.dashboard .streams .scheduledStreamCard div {
  display: inline-flex;
}
.dashboard .streams .scheduledStreamCard div .date-time {
  display: flex;
  flex-direction: column;
}
.dashboard .streams .scheduledStreamCard div .date-time #date {
  font-size: 1em;
  display: block;
  margin: 0;
}
.dashboard .streams .scheduledStreamCard div .date-time #time {
  font-size: 1em;
  display: block;
  margin: 0;
}
.dashboard .streams .scheduledStreamCard .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dashboard .streams .scheduledStreamCard .controls #edit-btn {
  background-color: skyblue;
  padding: 3px;
  font-size: 1em;
}
.dashboard .streams .scheduledStreamCard .controls #edit-btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.dashboard .streams .scheduledStreamCard .controls #delete-btn {
  background-color: darkred;
  padding: 3px;
  font-size: 1em;
}
.dashboard .streams .scheduledStreamCard .controls #delete-btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.new-stream .header {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.new-stream .header #dashboard-btn {
  margin: 1em;
  float: left;
}
.new-stream .header .logoPlaceholder {
  width: 50px;
  height: 50px;
  background-color: black;
}
.new-stream .inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.new-stream .inputs-container h1 {
  justify-content: center;
}
.new-stream .inputs-container .forms-container form .title-input h3 {
  justify-content: space-around;
}
.new-stream .inputs-container .forms-container form .bottom-container {
  display: inline-flex;
  justify-content: space-between;
}

.start-scheduled {
  height: 100%;
}
.start-scheduled .header {
  height: 20%;
  display: flex;
  justify-content: center;
}
.start-scheduled .header .logoPlaceholder {
  width: 50px;
  height: 50px;
  background-color: black;
}
.start-scheduled .main-container {
  height: 60%;
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.start-scheduled .main-container div h1 {
  font-size: 2em;
}
.start-scheduled .main-container div p {
  font-size: 1em;
}

.App {
  width: 800px;
  height: 600px;
  background-color: darkgray;
}

/*# sourceMappingURL=App.css.map */
